/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/* CSS declarations go here */

html {
  -webkit-tap-highlight-color:transparent;
  position: relative;
  margin: none;
} 
body {
	width: 100%;
	overflow-x: hidden;
    position: relative;
}

/*template styling*/
/*articleHome*/

header {
	width: 100%;
	background-color: black;
	color: white;
	color: rgb(253, 251, 246);
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}
header .nav {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	padding: 0 3px;
}
header .nav a {
  text-decoration: none;
}
header .nav a:visited {
  text-decoration: none;
  color: white;
}
header .nav a:hover {
	color: rgb(223, 150, 18);
	text-decoration: none;
}
li#last.nav{
	float: right;
	margin-right: 1%;
}
.title-menu p {
	display: none;
}

div.menu {
  background-color: rgba(128, 128, 128, 0.3);
  display: none;
  position: absolute;
  top: 49px;
  width: 98%;
}
div.menu ul {
  padding-left: 1px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  border-style: solid black;
}
section {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 3%;
}
section h1 {
	font-family: 'Questrial', sans-serif;
	font-size: 6em;
	color: white;
	background-color: black;
	width: 270px;
	margin: auto;
	margin-top: 7%;
	text-align: center;
}
section h1 span {
	color: rgb(223, 150, 18);
}
section h2 {
	font-family: 'Questrial', sans-serif;
  	font-size: 24px;
	letter-spacing: 5px;
	color: black;
	text-align: center;
}

/*articleUserOptions*/

.article-home {
  background-image: url("img/img-post-it.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.article-mobile-view-div {
	display: none;
}

.article-search-div {
  float: left;
  background-color: rgba(0, 0, 0, 0.9);
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(230, 230, 230, 0.72);
  font-family: 'Questrial', sans-serif;
  border: solid 1px gray;
  box-shadow: 5px 5px 5px #888888;
}

.article-search-div h4 {
	margin-left: 14%;
	font-size: 20px;
}
.article-search-div ul {
	padding: 0;
	margin: 0;
}
.article-search-div li {
	list-style: none;
	padding-bottom: 5%;
}
.article-search-div ul{
  list-style: none;
  margin-left: 14%;
  padding-bottom: 5%;
}
.article-search-div ul input {
  padding: 2px;
  width: 80%;
  font-size: 1em;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  border: 1px solid rgba(128, 128, 128, 0.478431);
}
.article-search-div ul select {
  padding: 2px;
  width: 80%;
  font-size: 1em;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  border: 1px solid rgba(128, 128, 128, 0.478431);
}

.article-search-div button {
  padding: 19px 51px 17px;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid;
  text-transform: uppercase;
  background-color: transparent;
}
.article-search-div button:hover {
  background-color: rgb(223, 150, 18);
}

.article-view-div {
  float: left;
  background-color: rgb(223, 150, 18);
  width: 350px;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 5%;
  border: solid rgb(20, 7, 7) 1.5px;
  padding-top: 1%;
  padding-bottom: 4%;
  height: 300px;
  font-family: 'Questrial', sans-serif;
  padding-left: 3%;
}
.article-view-div ul {
  padding-left: 0;

}
.article-view-div h3 {
    font-size: 1.5em;
	background-color: black;
	color: orange;
	margin-left: 0;
	padding-left: 0;
	margin-right: 28px;
	text-align: center;
}
.article-view-div li {
  list-style: none;
  font-size: 1em;
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 6%;
}

/*articleTable*/

.article-table {
  background-image: url("http://images.naldzgraphics.net/2012/06/free-cork-texture.jpg");
  background-size: cover;
  font-family: 'Questrial', sans-serif;
  padding-bottom: 5%;
}

.article-table table {
	margin-right: 0;
	margin-left: 0;
	background-color: rgba(235, 160, 24, 1);
	border-color: black;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 9px 9px 9px #EFDB5C;
}
.article-table table td {
	padding: 2%;
	border-bottom: 1px solid black;
}
.article-table table th {
	padding: 2%;
	border-bottom: 1px solid black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: underline;
}
td.attr {
	text-align: center;
}
th.attr {
	text-align: center;
}
th.title {
	text-align: left;
	padding-left: 2%;
}
.article-table a.button {
	text-decoration: none;
	color: black;
}
td.button:hover {
	color: black;
	background-color: rgb(223, 150, 18);
	font-size: 22px;
	border: 2px solid;
}





@media only screen and (max-width: 1003px) {
  .article-view-div {
    width: 350px;
    margin-left: 2%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 300px;
  }
}
@media only screen and (max-width: 925px) {
  .article-view-div {
    width: 300px;
    margin-left: 4%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 250px;
  }
  .article-view-div h3 {
    font-size: 20px;
}
  .article-view-div li {
   list-style: none;
   font-size: 1em;
   list-style: none;
   font-size: 1.2em;
   padding-bottom: 6%;
  }
  .article-search-div {
    width: 35%;
    margin-left: 9%;
    margin-right: 5%;
  }
@media only screen and (max-width: 814px) {
  .article-search-div {
     width: 35%;
     margin-left: 6%;
     margin-right: 3%;
   }
   .article-search-div h4 {
     font-size: 18px;	
   }
   .article-search-div ul input {
     font-size: 16px;
   }
   .article-search-div ul select {
   	font-size: 14px;
   }
   .article-search-div button {
   	font-size: 12px;
   }     
}
@media only screen and (max-width: 718px) {
  .article-view-div {
    width: 290px;
    margin-left: 4%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 240px;
  }
  .article-search-div {
  	font-size: 14px;
  }
  .article-search-div button {
  	font-size: 14px;
  	padding: 13px;
  }
}
@media only screen and (max-width: 691px) {
   .article-view-div {
    width: 270px;
    margin-left: 4%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 220px;
  }
  .article-view-div h3 {
  	font-size: 18px;
  }
  .article-view-div li {
  	font-size: 16px;
  }
  .bug-cta {
  	font-size: 12px;
  }
}
@media only screen and (max-width: 645px) {
  .article-search-div {
    width: 35%;
    margin-left: 6%;
    margin-right: 7%;
  }
  .article-view-div {
    width: 250px;
    margin-left: 2%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 200px;
  }
   .article-view-div h3{
  	font-size: 16px;
  }
}
@media only screen and (max-width: 623px) {

  .article-search-div {
    width: 36%;
    margin-left: 4%;
    margin-right: 5%;
  }
  .article-view-div {
    width: 250px;
    margin-left: 2%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 200px;
  }
  .article-view-div h3{
  	font-size: 16px;
    }
  }
}

@media only screen and (max-width: 578px) {
  .article-view-div {
    width: 220px;
    margin-left: 2%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 180px;
  }
   .article-view-div h3{
  	font-size: 16px;
  }
  .bug-cta {
  	display: none;
  }
}

@media only screen and (max-width: 520px) {
	.nav-ul {
      display: none;
	}
	header {
      padding: 2%;
	}	
	.title-menu {
		margin-left: 40%;
	}
	.title-menu p {
		display: inline;	
		font-family: 'Questrial', sans-serif;
		font-size: 2em;
		color: white;
		background-color: black;
	}
	.title-menu p span {
		color: orange;
		background-color: black;
	}
	.article-search-div {
		display: none;
	}

	section h1 {
		display: none;
	}
	section h2 {
		display: none;
	}
	.article-mobile-view-div {
		display: inline-table;
	}
	.article-view-div {
		display: none;
	}
	.article-home {
		background-color: white;
	}
	.article-mobile-view-div {
		float: right;
		background-color: rgba(232, 229, 223, 0.72);
		width: 80%;
   		border: solid rgb(20, 7, 7) 1.5px;
		padding-top: 2%;
		padding-bottom: 2%;
		height: 250px;
		font-family: 'Questrial', sans-serif;
		text-align: center;
		box-shadow: 5px 5px 5px #888888;
		position: center;
		margin-left: 10%;
		margin-right: 10%;


	}
	.article-mobile-view-div ul {
  		padding-left: 0;
  		margin-top: 7%;

	}
	.article-mobile-view-div li {
  		list-style: none;
  		font-size: 1em;
  		list-style: none;
  		font-size: 1.5em;
  		padding-bottom: 6%;
  		
	}
}







/*articleIndex / articleTable / articleRow
.article-index {
	background-color: rgba(159, 172, 175, 0.23);
	width: 98%;
	font-family: 'Questrial', sans-serif;
}


.article-table {
	width: 98%;
	padding-top: 20px;
	
}
.article-table h1 {
	letter-spacing: 15px;
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 37%;
}
.article-table table {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}







.article-new {
	background-size: cover;
	background-image: url("img/img-grp.png");
	width: 98%;
	background-repeat: no-repeat;
}
.new-article {
	background-color: rgba(128, 128, 128, 0.59);
	padding-top: 2%;
}
.title-input {
	width: 90%;
	margin-left: 5%;
	border-radius: 4px;
	height: 24px;
	border: none;
}

.content-input {
	width: 90%;
	margin-left: 5%;
	border-radius: 4px;
	height: 20em;
	margin-top: 40px;
	margin-bottom: 60px;
	border: none;
}

/*MEDIA QUERIES

@media only screen and (max-width: 555px){
	body {
		width: 98%;
	}
	.nav-ul {
      display: none;
	}
	header {
		width: 98%;
		padding-top: 2%;
		padding-bottom: 5px;
	}
	section {
		display: none;
	}
	.title-menu {
		margin-left: 40%;
	}
	.title-menu p {
		display: inline;	
		font-family: 'Questrial', sans-serif;
		font-size: 2em;
		color: white;
		background-color: black;
	}
	.title-menu p span {
		color: rgb(223, 150, 18);
	}
	.menu-400px {
	  display: inline;
	  background-color: gray;
	}
	.menu-400px ul {
	  list-style: none;
	  background-color: orange;
	  width: 40%;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  text-align: center;
	  padding-left: 20px;
	  padding-right: 20px;
	  font-family: 'Questrial', sans-serif;
	  font-size: 18px;
	  margin-left: 25%;
	}
	.menu-400px ul li {
		padding-top: 10px;
	}
	.article-search-find {
		width: 90%;
		font-size: 16px;
	}
	.article-search-find h4 {
		font-size: 18px;
		margin-left: 30%;
	}
	.article-search-find button {
		font-size: 14px;
		padding: 10px;
	}
	.article-search-find button:hover {
		background-color: rgb(223, 55, 18);
	}
	.add-view-div {
		display: none;
		left: 15px;
    }
    .article-search-find h4{
    	font-size: 15px;
    }
    .article-search-find li{
    	margin-top: 0px;
    	margin-bottom: 0px;
    }
    .article-search-find li input{
  		height: 16px;
    }
    .add-view-div {
		float: right;
		background-color: rgb(223, 150, 18);
		margin-top: 60px;
		padding: 25px;
		margin-right: 2%;
		padding-bottom: 3%;
		border-style: solid;
		border-color: white;
		border-width: 1px;
		padding-top: 1%;
	}
	.add-view-div h3 {
		font-size: 16px;
		background-color: black;
		color: orange;
		padding: 5px;
	}
	.add-view-div ul {
		list-style: none;
		padding-left: 0px;
	}
	.add-view-div ul li {
		padding-bottom: 6px;
		font-size: 16px;
	}
	.add-view-div div {
		font-size: 14px;
	}
	.article-search-find button {
		font-size: 14px;
		padding: 10px;
	}
	.article-search-find button:hover {
		background-color: rgb(223, 55, 18);
	}
	.article-search-home-gray {
		height: 430px;
	}
	.post-it {
		height: 420px;
	}

	.article-table {
		position: relative;
		padding: 45px 15px 15px;
		margin: 0 -15px 15px;
		border-color: #e5e5e5 #eee #eee;
		border-style: solid;
		border-width: 1px 0;
		-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
		box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	}




}


@media only screen and (max-width: 1173px) {
	.add-view-div {
		background-color: rgb(223, 150, 18);
		margin-right: 23px;
	}
}
@media only screen and (max-width: 923px) {
	.add-view-div {
		background-color: rgb(223, 150, 18);
		margin-right: 72px;
	}
	.add-view-div h3 {
		font-size: 20px;
		background-color: black;
		color: orange;
		padding: 5px;
	}
	.add-view-div ul {
		list-style: none;
		padding-left: 0px;
	}
	.add-view-div ul li {
		padding-bottom: 6px;
		font-size: 18px;
	}
	.add-view-div div {
		font-size: 16px;
	}
	.article-search-find button {
		font-size: 16px;
		padding: 10px;
	}
}
@media only screen and (max-width: 828px) {
	.add-view-div {
		margin-right: 40px;
	}
}
@media only screen and (max-width: 742px) {
	.add-view-div {
		margin-right: 30px;
	}
}
@media only screen and (max-width: 716px) {
	.add-view-div {
		margin-right: 30px;
	}
}
@media only screen and (max-width: 701px) {
	.add-view-div {
		margin-right: 20px;
	}
	.article-search-find li {
		font-size: 14px;
		padding: 8px;
		padding-left: 0;

	}
	.article-search-find h4 {
		font-size: 16px;
		margin-left: 20%;

	}
	.article-search-find button {
		font-size: 14px;
		padding: 10px;
	}
}
@media only screen and (max-width: 690px) {
	.add-view-div {
		margin-right: 25px;
	}
	.add-view-div h3 {
		font-size: 16px;
	}
	.add-view-div ul li {
		font-size: 14px;
	}
	.add-view-div div {
		font-size: 10px;
	}
}
@media only screen and (max-width: 602px) {
	.article-search-find {
		margin-left: 15px;
	}
	.article-search-find ul li {
		font-size: 14px;
		padding: 6px;
		padding-left: 0;

	}
}*/





















 



}


