<template name="articleNew">
  {{> articleHeader }}
  <div class="article-new">
    <form class="new-article">
      <h1>add a new content</h1>
      <label class="title">Title</label><br>
      <input type="text" name="title" value="title" class="title-input" placeholder="Enter Title"><br>
      <div>
        <label class="article-type">Type</label><br>
        <select type="type" name="type" value="{{type}}" class="type" placeholder="Type">
          <optgroup label="Type">
            <option>Article</option>
            <option>Brand Post</option>
            <option>Media Release</option>
            <option>Event Posting</option>
          </optgroup>
         </select> 
      </div>
      <div>
        <label class="author">Author</label><br>
        <select type="author" name="author" value="{{author}}" class="author">
          <optgroup label="Author">
            <option>Author 1</option>
            <option>Author 2</option>
            <option>Author 3</option>
            <option>Author 4</option>
          </optgroup>
        </select> 
      </div>
      <div>
        <label class="created-at">Created at</label>
        <input type="date" name="created-at">
      </div>
      <div>
        <label class="expiresOn">Expires on</label>
        <input type="date" name="expiresOn" value="{{expiresOn}}">
      </div>
      <div>
        <label class="content"> Summary
        </label><br>
        <textarea class="summary-input" textype="text" name="summary" value="summary" placeholder="Enter summary"></textarea>
      </div>
      <div>
        <label class="content">Content</label><br>
        <textarea class="content-input" type="text" name="content" value="content" placeholder="Enter content"></textarea ><br>
      </div>
      <button class="submit">Create</button>
      <a href="{{pathFor 'articleIndex'}}"></a>
    </form>
  </div>  
</template>